
.moduleFeature-iphone {
    //background: #F4F6FD;
    z-index: 2;
    position: relative;
    display: flex;
    @include respond-to-min(750){
        //padding-bottom: 225px;
        margin-top: 220px;
        margin-bottom: 75px;
    }
    &::after{
        content: '';
        width: 100%;
        height: 20%;
        background: #fff;
        position: absolute;
        bottom: 0;
        z-index: 0;
    }
    .box-cont{
        padding-top: 0px;
        padding-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        @include respond-to-min(750){
            flex-direction: row;
            align-items: center;
            padding-bottom: 10px;
            align-items: flex-start;
        }
    }
    .img-box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transform: translateY(30px);
        @include respond-to-min(750){
            width: 35%;
            position: relative;
            margin-top: 0;
            transform: translateY(-50px);
        }
        img{
            width: 80%;
            position: relative;
            z-index: 1;
            @include respond-to-min(750){
                //max-width: 250px;
            }
        }
        .svg-topo{
            position: absolute;
            top: 60px;
            right: 0;
            z-index: 0;
            max-width: 125px;
            height: auto;
            fill: $cor-secundaria;
        }
        .svg-bot{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
            max-width: 80px;
            height: auto;
            fill: $cor-secundaria;
        }
    }
    .text-box{
        width: 100%;
        order: 1;
        //margin-bottom: 40px;
        //padding-top: 230px;
        padding-bottom: 80px;
        @include respond-to-min(750){
            width: 70%;
            padding: 0 0 0 0;
            order: 2;
            margin-bottom: 0;
            padding-bottom: 0;
            //padding-top: 230px;
            width: 65%;
            order: 1;
            padding-left: 10%;
        }
        h1{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 57px;
            /* identical to box height, or 158% */

            text-align: center;

            color: #24282A;
            @include respond-to-min(750){
                font-size: 48px;
                line-height: 57px;

                text-align: left;
            }
        }
        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            /* or 144% */
            
            text-align: center;
            
            color: #939FA4;
            @include respond-to-min(750){
                font-size: 18px;
                line-height: 26px;
            
                text-align: left;
            }
        }
        .btn{
            margin: 0 auto;
            @include respond-to-min(750){
                margin: 0;
            }
        }
    }
    
    .video-box{
        width: 100%;
        order: 2;
        h3{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 44px;
            /* or 122% */

            text-align: center;

            color: #24282A;
            @include respond-to-min(750){
                font-size: 48px;
                line-height: 57px;
                margin: 35px 0 20px;

                text-align: left;
            }
        }
        p{
            @include respond-to-min(750){
                margin-bottom: 35px;

                text-align: left;
            }
        }
        
        .wrapper-video{
            width: 100%;
            position: relative;
            .placeholder{
                width: 100%;
            }
            .cta-videoAbout{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                svg{
                    width: 120px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    path{
                        //fill: #fff;
                    }
                }
            }
            .ovals-shape{
                position: absolute;
                bottom: -100px;
                left: -100px;
                z-index: -1;
            }
        }
        @include respond-to-min(750){
            width: 65%;
            order: 1;
            padding-left: 5%;
        }
    }

    &.invert{
        .img-box{
            .svg-topo{
                right: auto;
                left: 0;
            }
            .svg-bot{
                left: auto;
                right: 0;
            }
            @include respond-to-min(750){
                order: 2;
            }
        }
        .text-box{
            @include respond-to-min(750){
                order: 1;
                
                padding-left: 0;
                padding-right: 10%;
            }
        }
    }
}
.page-planos{
    .moduleFeature-iphone {
        background: #F4F6FD;
        @include respond-to-min(750){
            //padding-bottom: 225px;
            margin-top: 0;
            padding-top: 20px;
            margin-bottom: 0;
            padding-bottom: 75px;
        }
        &::after{
            content: '';
            width: 100%;
            height: 20%;
            background: #F4F6FD;
            position: absolute;
            bottom: 0;
            z-index: 0;
        }
        .img-box{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transform: translateY(30px);
            @include respond-to-min(750){
                width: 35%;
                position: relative;
                margin-top: 0;
                transform: translateY(-80px);
            }
        }
        
    
        .video-box{
            @include respond-to-min(750){
                width: 65%;
                order: 1;
                padding-left: 5%;
                padding-top: 3%;
            }
        }
    }
}