.header-back-section{
    background: #F8F8F8;
    .wrap{
        max-width: 1440px;
    }
    a{
        color: #F171FC;
        padding: 20px 0;
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        &:hover{
            text-decoration: underline;
        }
    }
}

.moduleDashboard{
    padding: 30px 0;
    font-family: 'Lato', sans-serif;
    .info-section{
        width: 100%;
        p{
            width: 100%;
            //max-width: 495px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 19px;
            /* or 158% */

            margin: 25px 0;
            margin: 0 0 25px;
        }
    }
    .planos-wrap{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .card-item-box{
            width: 100%;
            background-color: #F9F9F9;
            padding: 25px;
            margin-bottom: 20px;
            @include respond-to-min(680){
                width: calc(50% - 20px);
                margin: 0 20px 20px 0;
            }
            @include respond-to-min(1100){
                width: calc(33.3% - 20px);
                margin: 0 20px 20px 0;
            }
            .card-wrap{
                display: flex;
                align-items: center;
            }
            .svg-box{
                width: 100%;
                max-width: 63px;
                svg{
                    width: 100%;
                    height: auto;
                }
            }
            .info-box{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                h3{
                    width: 100%;
                    font-size: 18px;
                    font-family: 'Roboto Condensed', sans-serif;
                    margin: 0;
                    color: #292B36;
                    .sisou{
                        font-size: 22px;
                    }
                }
                .price{
                    p{
                        font-size: 12px;
                        color: #878787;
                        line-height: 18px;
                        font-family: 'Source Sans Pro', sans-serif;
                        margin: 0;
                        b{
                            font-size: 18px;
                            color: #F171FC;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .btn-box{
                width: 100%;
                padding-left: 20px;
                .btn{
                    margin: auto;
                }
            }
        }
        .card-item-box-full{
            width: 100%;
            background-color: #F9F9F9;
            padding: 25px 0 25px 35px;
            margin-bottom: 20px;
            font-family: 'Lato', sans-serif;
            @include respond-to-min(750){
                margin: 0 20px 20px 0;
            }
            .card-wrap{
                width: 100%;
                display: flex;
                align-items: center;
                padding-right: 35px;
                flex-wrap: wrap;
                @include respond-to-min(750){
                    flex-wrap: nowrap;
                }
            }
            .svg-box{
                width: 100%;
                //margin-right: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 20px;
                @include respond-to-min(500){
                    width: 30%;
                    max-width: 63px;
                }
                @include respond-to-min(750){
                    width: 100%;
                }
                svg{
                    max-width: 63px;
                    width: 100%;
                    height: auto;
                }
            }
            .info-box{
                width: calc(100% - 67px);
                display: flex;
                flex-direction: column;
                padding-left: 0;
                @include respond-to-min(500){
                    padding-left: 20px;
                }
                @include respond-to-min(750){
                    width: 100%;
                }
                h5{
                    margin: 0;
                    font-size: 15px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    .sisou{
                        font-size: 19px;
                    }
                }
                .info{
                    display: flex;
                    margin-bottom: 10px;
                    flex-direction: column;
                    @include respond-to-min(1100){
                        flex-direction: row;
                    }
                    p{
                        font-size: 12px;
                        color: #828687;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        /* identical to box height */
                        margin: 0;
                        margin-right: 25px;
                        b{
                            color: #292B36;
                        }
                    }
                }
                .links{
                    a{
                        color: #F171FC;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        display: inline-flex;
                        align-items: center;
                        &:hover{
                            text-decoration: underline;
                        }
                        svg{
                            margin-left: 5px;
                        }
                    }
                }
            }
            .btn-box{
                width: 100%;
                padding-left: 20px;
                flex-shrink: 0;
                margin-top: 20px;
                @include respond-to-min(750){
                    margin-top: 0;
                    width: auto;
                }
                .btn{
                    float: right;
                }
            }
            .subtitle{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 35px;
                padding-right: 35px;
                h4{
                    font-size: 17px;
                    margin: 0;
                }
                a{
                    color: #F171FC;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .item-wrap{
                width: 100%;
                //padding-top: 25px;
                display: flex;
                flex-wrap: wrap;
                .item-box{
                    width: calc(100% - 35px);
                    height: auto;
                    margin-right: 35px;
                    margin-top: 35px;
                    padding: 25px 20px;
                    background: #fff;
                    display: flex;
                    align-items: center;
                    @include respond-to-min(750){
                        width: calc(33.3% - 35px);
                    }
                    .svg-box{
                        width: 100%;
                        max-width: 30px;
                        margin-right: 20px;
                        svg{
                            width: 100%;
                        }
                    }
                    .info{
                        h3{
                            font-size: 15px;
                            margin: 0;
                        }
                        p{
                            font-size: 12px;
                            line-height: 18px;
                            font-weight: 600;
                            margin-bottom: 0;
                            span{
                                color: #F171FC;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-dashboard{
        width: 100%;
        margin: 20px 0;
        display: none;
        @include respond-to-min(750){
            display: block;
        }
        ul{
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            //border-bottom: 3px solid #EDEDED;
            position: relative;
            &:after {
                width: 100%;
                height: 3px;
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #EDEDED;
                z-index: -1;
            }
            li{
                a{
                    font-family: 'Poppins';
                    font-style: normal;
                    display: block;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 17px;
                    color: #292B36;
                    padding: 17px 15px;
                    position: relative;
                    transition: all 300ms ease-in-out;
                    &:after {
                        width: 100%;
                        height: 0;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: #c92bd6;
                        transition: all 300ms ease-in-out;
                    }
                    &:hover{
                        background: #f7f7f7;
                        &:after {
                            height: 3px;
                        }
                    }
                    .noti-badge{
                        background-color: #EC10FF;
                        color: #fff;
                        font-size: 13px;
                        padding: 2px 7px;
                        border-radius: 16px;
                        font-weight: 500;
                        margin-left: 5px;
                    }
                }
                &.active{
                    a{
                        padding: 17px 10px;
                        background: #fff;
                        &:after {
                            height: 3px;
                            background-color: #EC10FF;
                        }
                    }
                }
            }
        }
    }
    .sub_header{
        margin: 0 0 35px;
        display: flex;
        align-items: center;
        @include respond-to-min(750){
            margin: 35px 0;
        }
        h4{
            font-size: 18px;
            margin-right: 5px;
        }
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            
            color: #828687;
        }
        svg{
            margin-right: 10px;
        }

    }
    .data-box{    
        flex-shrink: 0;
        align-items: flex-end;
        ul{
            width: 100%;
            height: auto;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0 0 30px;
            li{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                min-height: 47px;
                padding: 15px 22px;
                background: #F8F8F8;
                border-radius: 6px;
                align-items: center;
                margin-bottom: 17px;
                flex-direction: row;
                flex-wrap: wrap;
                @include respond-to-min(750){
                    padding: 0 22px;
                    flex-wrap: nowrap;
                }
                .nameTitle{
                    width: 100%;
                    flex-shrink: 0;
                    font-family: "Lato";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: #202020;
                    margin-bottom: 10px;
                    @include respond-to-min(750){
                        width: 20%;
                        margin-bottom: 0;
                    }
                }
                .userDados{
                    width: 80%;
                    font-weight: 700;
                    font-family: "Lato";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                    color: #828687;
                    display: flex;
                    align-items: center;
                    @include respond-to-min(750){
                        width: 100%;
                    }
                    form{
                        width: 100%;
                        display: flex;
                        align-items: center;
                    }
                    input[type="text"],
                    input[type="email"]{
                        border-radius: 4px;
                        height: 34px;
                        font-size: 15px;
                        padding: 7px 0px 7px 20px;
                        margin-right: 20px;
                        width: 100%;
                        max-width: 325px;
                        color: #828687;
                    }
                    .btn{
                        font-size: 11px;
                        padding: 5px 30px;
                    }
                    &.edit{
                        width: 100%;
                        form{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            @include respond-to-min(520){
                                flex-direction: row;
                            }
                            input{
                                margin-bottom: 10px;
                                @include respond-to-min(750){
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .editIcon{
                    width: 20%;
                    @include respond-to-min(750){
                        width: auto;
                    }
                }
            }
        }
    }
    .noti-box{
        flex-shrink: 0;
        align-items: flex-end;
        ul{
            width: 100%;
            height: auto;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 0 0 30px;
            li{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                min-height: 47px;
                padding: 15px 22px;
                background: #F8F8F8;
                border-radius: 6px;
                align-items: center;
                margin-bottom: 17px;
                flex-direction: row;
                flex-wrap: wrap;
                @include respond-to-min(750){
                    padding: 25px;
                    flex-wrap: nowrap;
                }
                .notificacao{
                    width: 100%;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 18px;
                    /* identical to box height */
                    
                    
                    color: #616264;
                }
                .btn-box{
                    flex-shrink: 0;
                }
            }
        }
    }
    .siSorteio-box{
        width: 100%;
        background-color: #F8F8F8;
        padding: 25px 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        @include respond-to-min(960){
            flex-wrap: nowrap;
            margin-bottom: 0px;
            padding: 10px 40px;
        }
        .img-wrap{
            position: relative;
            flex-shrink: 0;
            width: 100%;
            @include respond-to-min(960){
                width: auto;
            }
            img{
                margin: auto;
                display: block;
                @include respond-to-min(960){
                    margin-right: 30px;
                }
            }
            &:after{
                position: absolute;
                content: '';
                width: 80px;
                height: 2px;
                background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #C4C4C4 52.08%, rgba(196, 196, 196, 0) 100%);;
                margin: auto;
                display: none;
                @include respond-to-min(960){
                    width: 2px;
                    height: 80px;
                    left: auto;
                    display: block;
                    top: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        .infos{
            position: relative;
            padding: 0 30px;
            flex-shrink: 0;
            &:after{
                position: absolute;
                content: '';
                width: 80px;
                height: 2px;
                background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #C4C4C4 52.08%, rgba(196, 196, 196, 0) 100%);;
                margin: auto;
                top: auto;
                bottom: 0;
                right: 0;
                left: 0;
                display: none;
                @include respond-to-min(625){
                    display: block;
                    width: 2px;
                    height: 80px;
                    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #C4C4C4 52.08%, rgba(196, 196, 196, 0) 100%);;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: auto;
                }
            }
        }
        .data{
            position: relative;
            padding: 0 30px;
            flex-shrink: 0;
        }
        .link{
            width: 100%;
            text-align: center;
            @include respond-to-min(960){
                text-align: right;
            }
            a{
                color: #F171FC;
                font-size: 13px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}