.btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    //text-transform: uppercase;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height, or 136% */
    
    color: #ffffff;
    background: $pink;
    border: 2px solid $pink;
    padding: 7px 30px;
    border-radius: 7px;
    display: table;
    text-align: center;
    transition: all .3s ease-in-out;
    letter-spacing: 0.8px;
    cursor: pointer;
    &:hover{
        background: $purple;
        border: 2px solid $purple;
    }
    &:active{
        border: 2px solid $purple;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 0px 6px rgba($pink, 0.2);
    }

    &.grey{
        background: #EDEDED;
        border: 2px solid rgba(80, 81, 90, 0.1);
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        padding: 11px 30px;
        
        color: rgba(80, 81, 90, 0.83);

        &:hover{
            background: rgba(80, 81, 90, 0.1);
            border: 2px solid rgba(80, 81, 90, 0.1);
        }
        &:focus{
            outline: none;
            box-shadow: 0 0 0px 6px rgba(107, 107, 127, 0.2);
        }
    }
}