.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9991; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
    /* Modal Content */
    .modal-dialog{
      width: 100%;
      max-width: 580px;
      margin: auto;

    }
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      //padding: 20px;
      border: 1px solid #D3DCE0;
      width: 100%;
      padding: 40px;
      border-radius: 4px;
      .modal-header{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          //border-bottom: 1px solid #D3DCE0;
          margin-bottom: 20px;
          h3{
              font-family: 'Lato';
              margin: 0;
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 35px;
              /* or 146% */
              
              text-align: center;
              
              color: #111111;
          }
          h5{
            font-family: 'Lato';
            margin: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;

            color: #616264;
          }
      }
      .modal-body{
        width: 100%;
        padding: 0 0;
        p{
          font-family: 'Lato';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            /* identical to box height, or 119% */


            /* Texto inativo */

            color: #727272;
        }
      }
      form{
        width: 100%;
        min-width: 300px;
        padding: 20px;
        margin: 0;
        .input-container{
            width: 100%;
        }
      }
    }
  }
  
  .fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }